.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 40px));
  border-radius: 12px;
  width: 450px;
  background-color: var(--secondary);
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: 0.7s;
  border: 2px solid var(--quinary);
  color: var(--white);

  &.modal__active {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%);
  }

  .modal--content {
    padding: 15px 10px;
  }

  .modal--footer {
    width: 100%;
    height: 50px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: var(--tertiary);
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
    gap: 10px;
  }
}

.modal-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 98;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
  cursor: pointer;

  &.modal-overlay__active {
    opacity: 1;
    pointer-events: all;
  }
}
