* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  overflow: hidden;
}

:root {
  --primary: #36393f;
  --secondary: #2f3136;
  --tertiary: rgb(32, 34, 37);
  --quaternary: #202225;
  --quinary: #393d42;
  --senary: #828386;
  --userinfo: #292B2F;

  --white: #fff;
  --gray: #8a8c90;
  --chat-input: rgb(64, 68, 75);
  --symbol: #74777a;
  --text: #7A7C80;
  --separator: #42454B;
  --input: #40444B;


  --notification: #f84a4b;
  --discord: #6e86d6;
  --mention-detail: #f9a839;
  --mention-message: #413f3f;

  --link: #5d80d6;

  --transition: 0.2s;
  --fast-transition: 0.1s;
}