#user-info {
    min-width: 100%;
    min-height: 52px;
    background-color: var(--userinfo);
    padding: 5px;
    display: flex;
    justify-content: space-between;

     #user-info__info {
        display: flex;
        align-items: center;
        padding: 5px;
        border-radius: 4px;
        width: 100%;
        transition: var(--fast-transition);

        #user-info__texts {
            display: flex;
            flex-direction: column;
            color: white;
            margin-left: 8px;
            font-size: 13px;
            font-weight: 700;

            #user-info__status {
                font-weight: 400;
                opacity: 69%;
            }
        }

        &:hover {
            background-color: var(--quinary);
        }
    }

    #user-info__actions {
        display: flex;
        align-items: center;
        gap: 1px;

        i {
            cursor: pointer;
            display: flex;
            align-items: center;
            font-size: 20px;
            color: var(--symbol);
            transition: var(--fast-transition);
            padding: 6px;
            border-radius: 4px;

            &:hover {
                color: var(--white);
                background-color: var(--quinary);
            }
        }
    }
}