#create-server-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    min-height: 270px;
    max-height: 80vh;
    background-color: var(--primary);
    z-index: 99;
    border-radius: 3px;
    color: var(--white);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    transform: translate(-50%, calc(-50% + 20px));
    overflow: hidden;

    &.create-server-modal--active {
        opacity: 1;
        pointer-events: all;
        transform: translate(-50%, -50%);
    }

    #create-server-modal__create {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;

        #create-server-modal__server-icon {
            width: 72px;
            height: 72px;
            border: 2px dotted white;
            border-radius: 50%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;

            i {
                font-size: 16px;
            }

            &::after {
                content: '+';
                color: white;
                position: absolute;
                top: -6px;
                right: -6px;
                width: 28px;
                height: 28px;
                font-size: 26px;
                font-weight: bold;
                background-color: var(--discord);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .create-server-modal__footer {
        width: 100%;
        padding: 15px;
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: var(--tertiary);
        display: flex;
        justify-content: space-between;

        button {
            outline: none;
            border: none;
            cursor: pointer;
        }

        .create-server-moval__goback {
            background-color: transparent;
            color: rgba(255, 255, 255, 0.9);
            font-weight: bold;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .create-server-modal__column {
        position: absolute;
        height: 100%;
        transform: translate(100%);
        transition: 0.6s;
        opacity: 0;
        width: 100%;
    }

    .create-server-modal__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5px;
        padding: 15px;

        .create-server-modal__title {
            font-size: 20px;
            font-weight: bolder;
        }

        .create-server-modal__subtitle {
            font-size: 14px;
            color: var(--gray);
            font-weight: 500;
        }
    }

    .create-server-modal__button {
        background-color: var(--discord);
        padding: 10px 15px;
        color: var(--white);
        border-radius: 3px;
        font-weight: bolder;
        color: white;
        transition: var(--transition);

        &:active {
            transform: scale(0.95);
        }
    }

    .create-server-modal__input-control {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 5px;
        padding: 15px;

        .create-server-modal__input-label {
            font-weight: bolder;
            text-transform: uppercase;
            font-size: 12px;
            color: rgba(255, 255, 255, 0.5);

            &::after {
                content: '*';
                color: red;
                font-size: 15px;
                margin-left: 4px;
            }
        }

        .create-server-modal__input {
            height: 40px;
            background-color: var(--tertiary);
            padding: 0 10px;
            color: white;
            border: none;
            outline: none;
            border-radius: 3px;
            font-size: 15px;
        }
    }

    #create-server-modal__first-prompt {
        position: absolute;
        transform: translateX(0);
        opacity: 1;
        transition: 0.6s;
    }

    &.create-server-modal--invite {
        #create-server-modal__first-prompt {
            transform: translateX(-100%);
            opacity: 0;
        }

        #create-server-modal__invite {
            transform: translateX(0);
            opacity: 1;
        }
    }

    &.create-server-modal--create {
        min-height: 350px;

        #create-server-modal__first-prompt {
            transform: translateX(-100%);
            opacity: 0;
        }

        #create-server-modal__invite {
            transform: translateX(100%);
            opacity: 0;
        }

        #create-server-modal__create {
            transform: translateX(0);
            opacity: 1;
        }
    }

    #create-server-modal__options {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        padding: 15px;

        .create-server-modal__option {
            height: 55px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border-radius: 6px;
            border: 1px solid var(--senary);
            cursor: pointer;
            transition: var(--transition);

            .create-server-modal__option-icon {
                display: flex;
                align-items: center;
                font-size: 18px;
                transition: var(--transition);
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);

                .create-server-modal__option-icon {
                    transform: translateX(5px);
                }
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }

    #create-server-modal__footer {
        background-color: var(--tertiary);
        width: 100%;
        min-height: 50px;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: 15px;
        gap: 10px;

        #create-server-modal__footer-button {
            background-color: var(--discord);
            border: none;
            border-radius: 3px;
            padding: 10px;
            color: white;
            outline: none;
            cursor: pointer;
            transition: var(--transition);
            font-weight: bold;

            &:active {
                transform: scale(0.95);
            }
        }
    }
}

#create-server-modal-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 98;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;

    &.create-server-modal-overlay--active {
        opacity: 0.6;
        pointer-events: all;
    }
}