.message {
    display: flex;
    align-items: start;
    gap: 14px;
    padding: 4px 16px;
    transition: var(--fast-transition);
    width: 100%;
    margin-top: 5px;

    .message__data {
        display: flex;
        flex-direction: column;
        color: var(--white);
        font-size: 14px;
        width: 100%;
        gap: 5px;

        .message__author {
            margin-top: 4px;
            font-weight: 700;
            cursor: pointer;
        }

        .message__content {
            position: relative;
            word-wrap: break-word;

            span {
                z-index: 2;
            }

            .message__actions {
                opacity: 0;
                pointer-events: none;
                transition: var(--transition);
                position: absolute;
                z-index: 3;
                top: -35px;
                right: 0;
                height: 35px;
                min-width: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--secondary);
                border: 1px solid var(--tertiary);
                border-radius: 4px;
                overflow: hidden;

                .message__action {
                    width: 35px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    font-size: 16px;

                    &.message__action--red {
                        color: var(--notification);
                    }

                    &:hover {
                        background-color: var(--quinary);
                    }
                }
            }
        }
    }

    &:hover {
        background-color: var(--secondary);

        .message__data .message__content .message__actions {
            opacity: 1;
            pointer-events: all;
        }
    }

    &.message--no-author {
        margin-top: 0px;
        .message__data .message__content {
            padding-left: 54px;
        }
    }
}
