.message {
    display: flex;
    align-items: start;
    gap: 14px;
    padding: 4px 16px;
    transition: var(--fast-transition);
    width: 100%;
    margin-top: 5px;

    .message__data {
        display: flex;
        flex-direction: column;
        color: var(--white);
        font-size: 14px;
        width: 100%;
        gap: 5px;

        .message__author {
            margin-top: 4px;
            font-weight: 700;
            cursor: pointer;
        }

        .message__content {
            opacity: 0.9;
            overflow: hidden;
            word-wrap: break-word;
        }
    }

    &.message--no-author {
        margin-top: 0px;
        .message__data .message__content {
            padding-left: 54px;
        }
    }

    &:hover {
        background-color: var(--secondary);
    }
}
