.button {
  background-color: var(--discord);
  color: white;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  font-weight: bolder;
  cursor: pointer;
  position: relative;
  transition: var(--transition);

  &:active {
    transform: scale(0.95)
  }

  &.button__loading, &.button__disabled {
    cursor: not-allowed;
    opacity: 0.6;

    span {
      opacity: 0;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      transform: scale(1);
    }
  }

  &.button__disabled:not(.button__loading) {
    span {
      opacity: 1;
    }
  }

  &.button__danger {
    background-color: var(--notification);
  }

  &.button__outline {
    background-color: transparent;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      transform: scale(1);
    }
  }
}
