#channel-list {
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    scrollbar-width: none;
}