#channel-list {
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    scrollbar-width: none;
}

#channel-list--modal-title {
    color: var(--white);
    font-size: 18px;
    font-weight: bolder;
}

.channel-list--modal-subtitle {
    color: var(--white);
    font-size: 11px;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: bold;
}

#channel-list--modal-channel-types {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .channel-type {
        width: 100%;
        height: 65px;
        background-color: var(--tertiary);
        border-radius: 4px;
        display: flex;
        align-items: center;
        transition: var(--transition);
        cursor: pointer;
        border: 1px solid transparent;

        &.channel-type__disabled {
            cursor: not-allowed;
            opacity: 0.6;
        }

        &:hover {
            background-color: var(--quinary);

            &.channel-type__disabled {
                background-color: var(--tertiary);
            }
        }

        &.channel-type__active {
            border: 1px solid var(--discord);
        }

        &>i {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;
        }

        &>input {
            margin-right: 15px;
            float: right;
        }

        .channel-type--infos {
            width: 100%;
            display: flex;
            flex-direction: column;

            &>h5 {
                font-size: 13px;
            }

            &>span {
                font-size: 13px;
                margin-right: 5px;
                color: var(--gray);
            }
        }
    }
}
