#layout {
    width: 100vw;
    height: 100vh;

    .layout--flex {
        display: flex;
    }

    .layout--column {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .layout__rigth-bar {
        min-width: 240px;
        height: 100vh;
    }

    .layout--full {
        width: 100%;
        height: 100%;
    }
}
